<div *ngIf="product" class="card container-fluid">
  <span class="navbar-brand">{{ product.name }} Information</span>
  <span style="font-size: 14px"
    >Created At {{ product.creationDate | date: "MM/dd/yyyy" }}
  </span>
  <span>
    <button
      *ngIf="
        product.name != '' && product.description != '' && product.price != ''
      "
      (click)="this.service.saveData(product)"
      class="btn btn-success float-right"
    >
      Save
    </button>
    <button
      *ngIf="
        product.name == '' || product.description == '' || product.price == ''
      "
      (click)="this.service.saveData(product)"
      class="btn btn-success float-right"
      disabled
    >
      Save
    </button>
  </span>
  <hr class="bg-info" />
  <img
    height="300"
    width="300"
    src="{{ product.url }}"
    class="mt-3"
    alt="No image found"
  />
  <div class="mt-3 container">
    <h5>Name:</h5>
    <input
      type="text"
      ngDefaultControl
      [(ngModel)]="product.name"
      class=""
      value="{{ product.name }}"
    />
    {{ product.name }}
  </div>
  <div class="mt-3 container">
    <h5>Description:</h5>
    <textarea
      value="{{ product.description }}"
      [(ngModel)]="product.description"
      name=""
      ngDefaultControl
      id=""
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <div class="mt-3 container mb-5">
    <h5>Price:</h5>
    <div class="row container ">
      <span
        [(ngModel)]="product.price"
        ngDefaultControl
        contenteditable="true"
        class="col-sm-4 card"
        >{{ product.price }}</span
      >
      <span class="col-sm-8">$</span>
    </div>
  </div>
</div>
