<!-- <div class="container-fluid" *ngFor="let product of products">
  <app-product [product]="product"></app-product>
</div> -->

<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-sm-6"><h3 class="text-info">Products</h3></div>
  </div>
  <hr class="bg-info" />
  <div *ngIf="this.service.success" class="alert alert-success">
    Product saved successfully
  </div>
  <!-- Displaying products -->
  <div class="row">
    <div class="col-sm-7 col-lg-8">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center bg-info text-light">
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let product of products">
            <app-product [product]="product"></app-product>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-5 col-lg-4">
      <app-info *ngIf="this.service.productInfo"></app-info>
    </div>
  </div>
</div>
